h1 Welcome to Caregiver Sense

p.
    Hi #{name},

p.
    #{adminName} has just added you as a caregiver.

p To complete the registration, please click on the link below:
a(href="#{registrationLink}") #{registrationLink}

p.
    Regards,<br>
    The Caregiver Sense team

p.
    If you have any questions, you can respond to this address.
