.adminQuickPlaces
    script(type="text/ng-template" id="adminQuickPlacesModal.html")
        .modal-header
            .modal-title Add a place
        .modal-body
            .placeSelector
                .row
                    .col-xs-12
                        | {{latlong}}
                        | {{addresss}}
                    .col-xs-12
                        input.mapLookup.form-control(id='autocompleteSearch' type='text')
                        google-map.map(on-place-selected="qpm.placeSelected(latlong, address)")

                        br
                        input.input-lg.form-control(type='text' placeholder='Name this place'
                            ng-if="qpm.showPlaceNameTextField" ng-model="qpm.newPlaceName")
        .modal-footer()
            button.btn.btn-default(ng-click="qpm.close()") Cancel
            button.btn.btn-primary(ng-if="qpm.newPlaceName" ng-click="qpm.useThisPlace()") Save and Use this Place

    .row
        .col-xs-12.addSection
            button(ng-click="openAddPlaceDialog()") Add Place
    .row
        .col-xs-12
            .entry.shadowed(ng-repeat="entry in entries" on-last-row="reapplyShadows")
                .body
                    .placeName {{ entry.label }}
                    .fa.fa-trash-o.delete(ng-click='delete(entry)')
