.patientNotes
    .row
        .col-xs-12.addSection
            textarea(rows=2 placeholder="Add Note" ng-model="newNote")
            button(ng-click="addNote()") Save Note
    .row
        .col-xs-12
            .note.shadowed(ng-repeat="note in notes" on-last-row="reapplyShadows")
                .body
                    .content {{ note.content }}
                    .writtenBy {{ note.writtenBy }}
                    .lastUpdated {{ note.lastUpdated | date:'EEE MMM d, yyyy' }}
