style.
    .bg {
        margin:auto;
        z-index : 1;
        width:100%;
        opacity:1;
        top:0;
    }
    .spacer {
        margin-bottom: 8em;
    }
.container-fluid
    .row
        .col-xs-4
            img.bg(src='{{self.facebookPicURL}}')
        .col-xs-8
            h2 {{self.userInfo.facebookProfile.name}}

    div
        button.btn.btn-block.btn-info.btn-lg.bigButton(ng-click='load("/dial");')
            i.fa.fa-phone
            span Dial

        button.btn.btn-block.btn-info.btn-lg.bigButton(ng-click='load("/directions");')
            i.fa.fa-map-o
            span Directions

        button.btn.btn-block.btn-info.btn-lg.bigButton(ng-click='load("/notes");')
            i.fa.fa-sticky-note-o
            span Notes

        button.btn.btn-block.btn-info.btn-lg.bigButton(ng-click='load("/schedule");')
            i.fa.fa-calendar
            span Schedule


    .spacer
